@font-face {
	font-family: 'Ephesis', cursive;
	src: url('./assets/Fonts/Ephesis-Regular.ttf');
}

.App {
  background-color: whitesmoke;
  height: 100%
}

.login-page{
  
  height: 100vh !important;
  background-color: #256EC1;
}
.login-page .title{
  font-family: 'Ephesis', cursive;
  font-size: 13vh;
  padding-left: 3vh;
  color: #40dfc6;
}
.login-card{
  width: 50%;
  background-color: white;
  border-radius: 25px;
  margin-top: 15vh;
  padding: 5vh;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
.logo{
  
  margin-left: 15%;
  margin-top:2%;
  width: 12%;
}

input{
  padding: 5px;
  height: 20px;
  width: 50%;
}

.primary-button{
  background-color: #2547F1;
  border:none;
  color: white;
  height: 30px;
  width: 30%;
  border-radius: 5px;
  cursor: pointer;

}
.page{
  
}
.header{
  width: 100vw;
  height: 8vh;
  background-color: #256EC1;
  position: fixed;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.logo-text{
  font-family: 'Ephesis', cursive;
  font-size: 2rem;
  padding-left: 1vw;
  color: #40dfc6;
}
.page{
  padding-top: 13vh;
  display: grid;
  grid-template-columns: 10vw 70vw;
  background-color: whitesmoke;
  padding-left:10vw;
  padding-right: 10vw;
  height: 100vh;
}
.list-tabs{
  font-size: 0.9rem;
  color: #636466;
  line-height-step: 1rem;
}
.tab{
  padding: 2px;
}

ul,li{
  list-style: none;
  padding-left: 26px;
}

.list-selection{
  padding: 1px;
  cursor: pointer;
  text-align: center;
  width: 80%;
  margin-bottom: 2px;

}
.list-selection:hover{
  background-color: lightgray;
  border-radius: 5px;
  border: none;
}

.selected{
  background-color: lightgray;
  border-radius: 5px;
  border: none;
}

.question-card{
  width: 85%;
  margin: 2%;
  padding: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.question-header .title{
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 3px;
}

.question-card .name{
  color: #347B98;
  font-size: 0.75rem;
  margin-bottom: 10px;
}
.question-card .closed{
  margin-right: 0;
  margin-left: auto;
  width: 50px;
  background-color:  red;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 3px;
}

.question-card .text{
  font-size: 1rem;
  color: black;
  margin-bottom: 30px;
}

.question .tags{
  background-color: #F0F7D4;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-right: 5px;

}

.question-card .star{
  margin-left: auto;
  margin-right: 0;
  width: 20px;
}

.add-comment{
  border-top: 1px solid lightgray;
  padding-top: 5px;
  margin-bottom: 10px;
}

.question-card .primary-button{
  width: 15% !important;
  margin-left: 10px;
}

.question-card input{
  height: 15px;
}

.comment-user{
  font-weight: bold;
  font-size: 15px;
}

.comment-content{
  margin-left: 10px;
  color: #636466;
  font-size: 14px;
}

.comment{
  margin-bottom: 5px; 
  
}

.logout{
  margin-left:1000px;
  
  width: 100px;
  cursor: pointer;
}

.popup-header{
	width: 97%;
	height: 50px;
	background-color: #F4F8F9;
	font-size: 0.75rem;
	font-weight: 600;
	padding: 15px 24px;
	display: grid;
	grid-template-columns: 70% 30%;
	border-bottom:1px solid #DEDEDE;
	position: sticky;
	top:0;
	
}

.popup-header .right-align{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	
}

.popup-body{
	padding: 24px 24px;
	padding-bottom: 4px !important;
	
}
.popup-body .label{
	font-size: 0.75rem;
	font-weight: 400;
	margin-bottom: 0;
}
.popup-body input{
	margin-bottom: 24px;
	width: 100%;
	margin-top: 8px;
	border: 1px solid #DEDEDE;
	border-radius: 4px;
	height: 34px;
}

.popup-footer{
	width: 97%;
	height: 60px;
	background-color: #F4F8F9;
	font-size: 0.75rem;
	font-weight: 600;
	padding: 13px 24px;
	display: flex;
	justify-content: flex-end;
	border-top:1px solid #DEDEDE;
	bottom:0;
	position: sticky;
	
	
}

.popup-footer button{
	margin-left: 16px;
}